parameters:
    level: 5
    paths:
        - .
    excludePaths:
        # no inteface SQLLogger in DBAL 4
        # TODO refactor
        - Logger/DbalLogger.php
        # return type for get and mGet methods
        - Cache/Redis.php
        - vendor/
    bootstrapFiles:
        - meta/phpstan/stub.php
    ignoreErrors:
        # TODO remove after symfony >= 5.x
        -
            message: '#Access to an undefined static property Intaro\\PinbaBundle\\Tests\\BundleInitializationTest\:\:\$container#'
            reportUnmatched: false
        -
            message: '#Method Doctrine\\DBAL\\Driver\\Middleware\\AbstractStatementMiddleware\:\:execute\(\) invoked with 1 parameter, 0 required#'
            reportUnmatched: false
